[submodule ".vim/bundle/colorschemes"]
	path = .vim/bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule ".vim/bundle/vim-jsbeautify"]
	path = .vim/bundle/vim-jsbeautify
	url = ./.vim/bundle/vim-jsbeautify/
